In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from dateutil.parser import parse
from datetime import datetime
import seaborn as sns

# Table of Contents <a id="toc"></a>
1. [Datasets](#datasets)
2. [Reading, analyzing the datasets](#reading)
   - [2.1. Reading data](#2-1)
   - [2.2. Database Fields Description](#2-2)
   - [2.3. Dataset cleaning](#2-3)
     - [2.3.1. Columns overview](#2-3-1)
	 - [2.3.2. Change column names](#2-3-2)
	 - [2.3.3. Unique values, nan values](#2-3-3)
	 - [2.3.4. Data types](#2-3-4)
	 - [2.3.5. Convert date to datetime](#2-3-5)

# Aviation accidents analysis

In this project we will analyze the reasons why accidents happen in aviation.
An aviation accident is an incident in which an aircraft is damaged or destroyed as a result of a collision, fire, structural failure, or other event. Aviation accidents can be caused by a variety of factors, including mechanical failure, pilot error, adverse weather conditions, and sabotage. Aviation accidents can result in fatalities, injuries, and damage to property.

## I. Datasets <a id="datasets"></a> 
[Return to Table of Contents](#toc)

We'll use 2 datasets from Kaggle:
### Dataset 1. Historical Plane Crash Data
This dataset contains all of the plane crashes that happened throughout history. Data are extracted using web scraping methods in R and preprocessed to create an organized and informative dataset.
All data are collected from Ronan Hubert: [Aviation Accident Bureau Archive]
(https://www.baaa-acro.com/)
This is the dataset [here]:(https://www.kaggle.com/datasets/abeperez/historical-plane-crash-data)

### Dataset 2. Aviation Accident Database & Synopses, up to 2023

The dataset is [here](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses)
The NTSB aviation accident database [here](https://www.ntsb.gov/Pages/home.aspx) contains information from 1962 and later about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters.

## II. Reading, analyzing the datasets <a id="reading"></a>
[Return to Table of Contents](#toc)

#### Dataset 1 - Historical Plane Crash Data 
This dataset contains all of the plane crashes that happened throughout history. Data are extracted using web scraping methods in R and preprocessed to create an organized and informative dataset.
All data are collected from Ronan Hubert: [Aviation Accident Bureau Archive]
(https://www.baaa-acro.com/)
This is the dataset [here]:(https://www.kaggle.com/datasets/abeperez/historical-plane-crash-data)

### 2.1. Reading data <a id="2-1">
[Return to Table of Contents](#toc)

In [2]:
avioset_aab = pd.read_csv('data/dataset_1_accident_bureau/Plane Crashes.csv')

In [3]:
# 28536 rows √ó 24 columns
print(avioset_aab.shape)
avioset_aab.head()

(28536, 24)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown
3,1918-06-19,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32098,Flight,Military,No,Airport (less than 10 km from airport),Wright Patterson AFB-Wright Patterson AFB,...,United States of America,North America,1.0,1.0,0.0,0.0,0.0,1,"Lt. Frank Stuart Patterson, son and nephew of ...",Technical failure
4,1918-06-24,NaN,Breguet 14,French Air Force - Arm√©e de l'Air,AS-4130,Landing (descent or approach),Military,Yes,NaN,NaN,...,France,Europe,NaN,0.0,NaN,0.0,0.0,0,The aircraft crashed iupon landing somewhere i...,Unknown

<div style="background-color: #9df9ef; padding: 10px;"></div>

### 2.2. Database Fields Description <a id="2-2">
[Return to Table of Contents](#toc)

In [4]:
dataColumnsMeaning = pd.read_csv('data/dataset_1_accident_bureau/AAB_DB_Fields_Description.csv', encoding='utf-8')

In [5]:
dataColumnsMeaning.columns

Index(['Field name', 'Description'], dtype='object')

In [6]:
dataColumnsMeaning.shape

(24, 2)

In [7]:
dataColumnsMeaning.style.set_properties(**{'text-align': 'left'})

<div style="background-color: #9df9ef; padding: 10px;"></div>

### 2.3. Dataset cleaning <a id="2-3">
[Return to Table of Contents](#toc)

#### 2.3.1. Columns overview <a id="2-3-1">
Let's see what data do we have in all columns.

In [8]:
avioset_aab.columns

Index(['Date', 'Time', 'Aircraft', 'Operator', 'Registration', 'Flight phase',
       'Flight type', 'Survivors', 'Crash site', 'Schedule', 'MSN', 'YOM',
       'Flight no.', 'Crash location', 'Country', 'Region', 'Crew on board',
       'Crew fatalities', 'Pax on board', 'PAX fatalities', 'Other fatalities',
       'Total fatalities', 'Circumstances', 'Crash cause'],
      dtype='object')

<div style="background-color: #9df9ef; padding: 10px;"></div>

#### 2.3.2. Change column names <a id="2-3-2">
Let's make our column names more Pythonic, which means changing names like Event.Id to event_id.

In [9]:
# We will make a new dataset so as not to lose the original
avioset_aab_low = avioset_aab.copy()

In [10]:
def change_col_names(df, old_symbol, new_symbol):
    df.columns = df.columns.str.lower().str.replace(old_symbol, new_symbol)
    return df

In [11]:
# Changing column names to pythonic
change_col_names(avioset_aab_low, ' ', '_')

# Changing "flight_no." to "flight_no"
avioset_aab_low.rename(columns={'flight_no.': 'flight_no'}, inplace=True)

# Test after the change
avioset_aab_low.columns

Index(['date', 'time', 'aircraft', 'operator', 'registration', 'flight_phase',
       'flight_type', 'survivors', 'crash_site', 'schedule', 'msn', 'yom',
       'flight_no', 'crash_location', 'country', 'region', 'crew_on_board',
       'crew_fatalities', 'pax_on_board', 'pax_fatalities', 'other_fatalities',
       'total_fatalities', 'circumstances', 'crash_cause'],
      dtype='object')

<div style="background-color: #9df9ef; padding: 10px;"></div>

#### 2.3.4. Data types <a id="2-3-4">

In [12]:
# let's check dtypes
avioset_aab_low.dtypes

date                 object
time                 object
aircraft             object
operator             object
registration         object
flight_phase         object
flight_type          object
survivors            object
crash_site           object
schedule             object
msn                  object
yom                 float64
flight_no           float64
crash_location       object
country              object
region               object
crew_on_board       float64
crew_fatalities     float64
pax_on_board        float64
pax_fatalities      float64
other_fatalities    float64
total_fatalities      int64
circumstances        object
crash_cause          object
dtype: object

<div style="background-color: #9df9ef; padding: 10px;"></div>

#### 2.3.5. Convert date to datetime <a id="2-3-5">
- We'll convert date to datetime.
- We'll add 3 new columns 'year', 'month', 'day'.
- We'll delete the 'date' column because we don't need it anymore.

In [13]:
avioset_aab_low.date.unique

<bound method Series.unique of 0        1918-05-02
1        1918-06-08
2        1918-06-11
3        1918-06-19
4        1918-06-24
            ...
28531    2022-05-20
28532    2022-05-23
28533    2022-05-24
28534    2022-05-29
28535    2022-06-03
Name: date, Length: 28536, dtype: object>

In [14]:
avioset_aab_low['date'] = pd.to_datetime(avioset_aab_low['date'])

In [15]:
avioset_aab_low.date.unique

<bound method Series.unique of 0       1918-05-02
1       1918-06-08
2       1918-06-11
3       1918-06-19
4       1918-06-24
           ...
28531   2022-05-20
28532   2022-05-23
28533   2022-05-24
28534   2022-05-29
28535   2022-06-03
Name: date, Length: 28536, dtype: datetime64[ns]>

In [16]:
# Let's add column year
avioset_aab_low['year'] = pd.DatetimeIndex(avioset_aab_low['date']).year

In [17]:
# Let's add column month
avioset_aab_low['month'] = pd.DatetimeIndex(avioset_aab_low['date']).month

In [18]:
# Let's add column day
avioset_aab_low['day'] = pd.DatetimeIndex(avioset_aab_low['date']).day

In [19]:
avioset_aab_low['year'].unique()

array([1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928,
       1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
       1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950,
       1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022])

In [20]:
avioset_aab_low['month'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4])

In [21]:
avioset_aab_low['day'].unique()

array([ 2,  8, 11, 19, 24, 14, 18, 23, 26, 13,  6, 27,  9, 12, 20, 16, 21,
       22, 31, 10,  7, 15,  1,  3,  4, 17, 25, 29,  5, 28, 30])

In [22]:
# let's convert some columns into int
# for col in ["crew_on_board", "crew_fatalities", "pax_on_board", "pax_fatalities", "other_fatalities"]:
#    avioset_aab_low[col] = avioset_aab_low[col].astype(int)

In [23]:
# let's check dtypes again
avioset_aab_low.dtypes

date                datetime64[ns]
time                        object
aircraft                    object
operator                    object
registration                object
flight_phase                object
flight_type                 object
survivors                   object
crash_site                  object
schedule                    object
msn                         object
yom                        float64
flight_no                  float64
crash_location              object
country                     object
region                      object
crew_on_board              float64
crew_fatalities            float64
pax_on_board               float64
pax_fatalities             float64
other_fatalities           float64
total_fatalities             int64
circumstances               object
crash_cause                 object
year                         int32
month                        int32
day                          int32
dtype: object

#### 2.3.3. Unique values, nan values <a id="2-3-3">
Let's look at the unique values and nan values in each column and decide which columns to use for our further analysis.

In [24]:
# View unique values for all columns
def all_columns_unique_values(df):
    for col in df.columns:
        print(f"Unique values in column \'{col}\': \n {df[col].unique()}\n\n **************** \n")

all_columns_unique_values(avioset_aab_low)

Unique values in column 'date':
 <DatetimeArray>
['1918-05-02 00:00:00', '1918-06-08 00:00:00', '1918-06-11 00:00:00',
 '1918-06-19 00:00:00', '1918-06-24 00:00:00', '1918-07-14 00:00:00',
 '1918-07-18 00:00:00', '1918-08-19 00:00:00', '1918-08-23 00:00:00',
 '1918-08-26 00:00:00',
 ...
 '2022-04-22 00:00:00', '2022-05-06 00:00:00', '2022-05-08 00:00:00',
 '2022-05-11 00:00:00', '2022-05-12 00:00:00', '2022-05-20 00:00:00',
 '2022-05-23 00:00:00', '2022-05-24 00:00:00', '2022-05-29 00:00:00',
 '2022-06-03 00:00:00']
Length: 18562, dtype: datetime64[ns]

 ****************

Unique values in column 'time':
 [nan '15H 15M 0S' '12H 0M 0S' ... '3H 21M 0S' '2H 53M 0S' '13H 33M 0S']

 ****************

Unique values in column 'aircraft':
 ['De Havilland DH.4' 'Handley Page V/1500' 'Avro 504' ...
 'Cirrus Vision SF50' 'Socata TBM-910' 'Learjet 75']

 ****************

Unique values in column 'operator':
 ['United States Signal Corps - USSC' 'Handley Page Aircraft Company Ltd'
 'Royal Air Force - RAF' ... 'Raul Ignacion Posada'
 'Yakutat Coastal Airlines' 'GoJump Oceanside']

 ****************

Unique values in column 'registration':
 ['AS-32084' 'E4104' 'A8544' ... 'N703TH' '9N-AET' 'N7581F']

 ****************

Unique values in column 'flight_phase':
 ['Takeoff (climb)' 'Flight' 'Landing (descent or approach)' nan 'Taxiing'
 'Parking']

 ****************

Unique values in column 'flight_type':
 ['Test' 'Training' 'Military' 'Delivery'
 'Survey / Patrol / Reconnaissance' 'Postal (mail)' 'Ferry'
 'Aerial photography' 'Scheduled Revenue Flight' 'Government' 'Private'
 'Charter/Taxi (Non Scheduled Revenue Flight)' nan 'Cargo' 'Positioning'
 'Demonstration' 'Ambulance' 'Executive/Corporate/Business' 'Topographic'
 'Geographical / Geophysical / Scientific' 'Cinematography'
 'Illegal (smuggling)' 'Spraying (Agricultural)' 'Refuelling'
 'Humanitarian' 'Bombing' 'Supply' 'Calibration'
 'Meteorological / Weather' 'Fire fighting' 'Skydiving / Paratroopers'
 'Aerobatic']

 ****************

Unique values in column 'survivors':
 ['No' 'Yes' nan]

 ****************

Unique values in column 'crash_site':
 ['Airport (less than 10 km from airport)' 'Plain, Valley' nan
 'Lake, Sea, Ocean, River' 'Mountains' 'Desert' 'City']

 ****************

Unique values in column 'schedule':
 ['Dayton - Dayton' 'Cricklewood - Cricklewood' 'Abukir - Abukir' ...
 'Celaya - Durango' 'Yakutat ‚Äì Dry Bay' 'Oceanside - Oceanside']

 ****************

Unique values in column 'msn':
 [nan 'B9976' 'B9983' ... '208-0219' '110-460' '61-0277-061']

 ****************

Unique values in column 'yom':
 [       nan 1.9180e+03 1.9190e+03 1.9200e+03 1.9210e+03 1.9230e+03
 1.9220e+03 1.9240e+03 1.9250e+03 1.0000e+00 1.9260e+03 1.9270e+03
 1.9280e+03 1.9290e+03 1.9300e+03 1.9310e+03 1.9320e+03 1.9330e+03
 1.9350e+03 1.9340e+03 1.7000e+01 2.6000e+01 1.9000e+01 2.2000e+01
 1.2000e+01 7.0000e+00 1.9360e+03 2.4000e+01 9.0000e+00 0.0000e+00
 1.9370e+03 2.7000e+01 1.9380e+03 1.9390e+03 8.0000e+00 2.8000e+01
 1.0000e+01 1.9400e+03 1.2928e+04 1.9410e+03 2.3000e+01 2.0000e+00
 2.5000e+01 5.0000e+00 3.0000e+00 1.8000e+01 1.5000e+01 1.9420e+03
 1.9430e+03 2.9000e+01 3.1000e+01 6.0000e+00 2.1000e+01 1.9440e+03
 1.1000e+01 3.0000e+01 4.0000e+00 1.9450e+03 1.6450e+03 1.4000e+01
 9.4300e+02 1.3000e+01 1.6000e+01 1.9460e+03 1.9470e+03 1.9510e+03
 1.9480e+03 1.9490e+03 1.9500e+03 2.0000e+01 1.4949e+04 1.9520e+03
 1.9530e+03 1.9540e+03 1.9550e+03 1.9590e+03 1.9560e+03 1.9570e+03
 1.6510e+03 1.9580e+03 1.9600e+03 1.9610e+03 1.7000e+02 1.9620e+03
 1.9630e+03 1.9640e+03 1.9650e+03 1.9660e+03 1.9670e+03 1.9680e+03
 1.9690e+03 1.9700e+03 1.9790e+03 1.9710e+03 1.9720e+03 1.9770e+03
 1.9730e+03 1.9740e+03 1.9750e+03 1.9760e+03 1.9780e+03 1.9800e+03
 1.9567e+04 2.5400e+02 1.9870e+03 1.9810e+03 1.9820e+03 1.9830e+03
 1.9840e+03 1.9850e+03 1.9860e+03 1.9880e+03 1.9890e+03 1.9900e+03
 1.9910e+03 1.9920e+03 1.9930e+03 1.9940e+03 1.9950e+03 1.9960e+03
 1.9970e+03 1.9980e+03 1.9990e+03 2.0000e+03 2.0010e+03 2.0020e+03
 2.0030e+03 2.0040e+03 2.0050e+03 2.0060e+03 2.0070e+03 1.9000e+03
 2.0080e+03 2.0090e+03 2.0100e+03 2.0120e+03 2.0110e+03 2.0130e+03
 2.0140e+03 2.0150e+03 2.0160e+03 2.0170e+03 2.0180e+03 2.0200e+03
 2.0190e+03]

 ****************

Unique values in column 'flight_no':
 [nan]

 ****************

Unique values in column 'crash_location':
 ['Dayton-McCook Field Ohio' 'Cricklewood London Metropolis'
 'Abukir (Abu Qir) Alexandria' ... 'Eldorado do Sul Rio Grande do Sul'
 'Dry Bay Alaska' 'Shikha Dhawalagiri']

 ****************

Unique values in column 'country':
 ['United States of America' 'United Kingdom' 'Egypt' 'France' 'Portugal'
 'Greece' 'Slovakia' 'Italy' 'Belgium' 'Ireland' 'Czech Republic' 'Mexico'
 'Germany' 'Sudan' 'South Africa' 'Malaysia' 'Tanzania' 'Zimbabwe'
 'Switzerland' 'Spain' 'World' 'Colombia' 'Sweden' 'Indonesia' 'Cuba'
 'Norway' 'Philippines' 'Canada' 'New Zealand' 'Brazil' 'Poland' 'Iraq'
 'Australia' 'Netherlands' 'Denmark' 'Pakistan' 'Chile' 'China' 'Turkey'
 'India' 'Morocco' 'Hungary' 'Russia' 'Lithuania' 'Romania' 'Niger'
 'Georgia' 'Mauritania' 'Estonia' 'Algeria' 'Uruguay' 'Bolivia'
 'Western Sahara' 'Kenya' 'Venezuela' 'Ukraine' 'Dominican Republic'
 'Guyana' 'Austria' 'Senegal' 'Finland' 'Papua New Guinea' 'Argentina'
 'Bulgaria' 'Japan' 'Panama' 'Bahamas' 'Tunisia' 'Zambia' 'Puerto Rico'
 'Costa Rica' 'Myanmar' 'Democratic Republic of Congo' 'South Sudan'
 'Paraguay' 'Nicaragua' 'Iran' 'Guatemala' 'Libya' 'Antarctica'
 'Azerbaijan' 'Mali' 'Malta' 'Yemen' 'Guinea Bissau' 'Ecuador' 'Thailand'
 'Syria' 'Palestine' 'Belarus' 'Lebanon' 'Greenland' 'Singapore'
 'Honduras' 'Peru' 'Madagascar' 'Croatia' 'Slovenia' 'Montenegro'
 'Ethiopia' 'Kazakhstan' 'Tajikistan' 'Trinidad and Tobago' 'Namibia'
 'Benin' 'Uganda' 'Israel' 'Gambia' 'Nigeria' 'Jamaica'
 'Bosnia and Herzegovina' 'Chad' 'Mozambique' 'Taiwan' 'Djibouti' 'Guinea'
 'Vietnam' 'Iceland' 'Uzbekistan' 'Serbia' 'Turkmenistan' 'Sierra Leone'
 'Fiji Islands' 'Kyrgyzstan' 'Kuwait' 'Tonga' 'Solomon Islands'
 'New Caledonia' 'Vanuatu' 'Timor Leste' 'Central African Republic'
 'Bermuda' 'Suriname' 'Kiribati' 'Eritrea' 'Ghana' 'Oman' 'Cyprus'
 'Bangladesh' 'Sri Lanka' 'Latvia' 'Bhutan' 'Liberia' 'Bahrain' 'Palau'
 'Marshall Islands' nan 'Ascension Island' 'Tuvalu' 'Guam Island'
 'Ivory Coast' 'United Arab Emirates' 'Martinique'
 'Northern Mariana Islands' 'Cambodia' 'Nepal' 'South Korea' 'Salvador'
 'Cameroon' 'Jordan' 'Saudi Arabia' 'Somalia'
 'Federated States of Micronesia' 'Macedonia' 'US Virgin Islands' 'Congo'
 'Burkina Faso' 'Angola' 'North Korea' 'Samoa Islands (Western Samoa)'
 'Laos' 'Cayman Islands' 'Malawi' 'Luxembourg' 'Afghanistan' 'Armenia'
 'Faroe Islands' 'Lesotho' 'Cabo Verde' 'French Polynesia' 'Haiti'
 'Maldivian Islands' 'Saint Kitts and Nevis' 'Mauritius'
 'Equatorial Guinea' 'Saint Pierre and Miquelon' 'Gabon' 'Belize'
 'Guadeloupe' 'S√£o Tom√© and Principe' 'Turks and Caicos Islands'
 'Mongolia' 'Dutch Antilles' 'Moldova' 'Montserrat'
 'British Virgin Islands' 'Comoros Islands' 'La Reunion' 'French Guyana'
 'Botswana' 'Monaco' 'Saint Lucia' 'Togo' 'American Samoa'
 'Falkland Islands' 'Seychelles' 'Barbados' 'Saint-Barth√©lemy' 'Qatar'
 'Saint Vincent and Grenadines' 'Mayotte' 'Rwanda' 'Chagos Archipelago'
 'Cook Islands' 'Dominica' 'Albania' 'Kosovo' 'Swaziland' 'Anguilla'
 'Antigua']

 ****************

Unique values in column 'region':
 ['North America' 'Europe' 'Africa' 'Central America' 'Asia' 'World'
 'South America' 'Oceania' 'Antarctica' nan]

 ****************

Unique values in column 'crew_on_board':
 [2.000e+00 6.000e+00 1.000e+00       nan 0.000e+00 3.000e+00 4.000e+00
 7.000e+00 5.000e+00 1.700e+01 8.000e+00 9.000e+00 1.200e+01 1.924e+03
 2.000e+01 1.000e+01 1.400e+01 1.100e+01 1.500e+01 1.300e+01 1.600e+01
 1.900e+01 1.800e+01 2.200e+01 2.300e+01 2.100e+01 4.800e+01 1.070e+02
 2.500e+01 3.700e+01]

 ****************

Unique values in column 'crew_fatalities':
 [ 2.  5.  1.  0.  3.  4. 17.  6.  8.  9.  7. 15. 10. 14. 12. 11. 13. 18.
 19. 16. 21. 25. 23. 20. nan 22.]

 ****************

Unique values in column 'pax_on_board':
 [  0.  nan   5.   3.   4.   1.   2.  12.   8.   6.   7.  10.   9.  13.
  11.  14.  33.  15.  20.  16.  18.  21.  23.  27.  19.  31.  28.  22.
  17.  26.  30.  75.  25.  32.  35.  24.  46.  40.  37.  55.  34.  42.
  43.  29.  41.  38.  48.  44.  49.  47.  36.  62.  39.  51.  45.  78.
  50.  52.  59.  64.  68. 105. 122.  79.  58.  60.  63.  70.  53.  56.
  65.  74.  95. 149.  57.  73.  91.  71.  67.  54.  61.  86.  77.  97.
  69.  89.  85. 115. 110.  87. 101.  96. 103.  76.  94.  80. 111.  81.
 136.  84. 114.  72. 106. 126. 113.  93. 120.  83. 116.  99.  98. 150.
 100. 146. 219. 118. 155. 104. 108. 109. 148. 164. 163. 193. 139. 117.
 154. 166.  82. 334.  92. 102. 140. 182. 314. 384. 181. 124. 128. 364.
 121. 234. 380. 127. 156. 159. 190. 189. 186. 211.  66. 249. 162. 258.
  88. 144. 145. 237. 152. 138. 287. 174. 213. 160. 172. 200. 112. 133.
 381.  90. 227. 246. 123. 173. 233. 170. 141. 307. 191. 509. 131. 265.
 248. 175. 185. 137. 240. 130. 274. 158. 129. 243. 178. 285. 157. 125.
 195. 179. 247. 280. 151. 107. 327. 147. 119. 250. 165. 256. 451. 176.
 260. 212. 134. 289. 222. 379. 215. 132. 252. 300. 236. 202. 296. 169.
 171. 221. 143. 135. 187. 197. 251. 206. 188. 257. 153. 261. 201. 297.
 324. 345. 203. 168. 216. 142. 291. 288. 283. 224. 217. 282. 161. 226.
 167. 177. 184.]

 ****************

Unique values in column 'pax_fatalities':
 [  0.   5.   3.   1.  12.   2.   6.   4.   7.   9.  13.  14.  10.  nan
   8.  33.  11.  16.  21.  23.  27.  15.  19.  18.  22.  17.  30.  40.
  25.  20.  28.  34.  24.  46.  32.  35.  26.  37.  55.  42.  31.  29.
  38.  48.  41.  49.  47.  36.  39.  52.  51.  75.  44.  43.  45.  82.
 122.  60.  63.  64.  53.  59.  57.  73.  56.  91.  58.  71.  62.  77.
  61.  69.  74.  50.  87. 101.  96. 120. 103.  76.  85.  79.  80.  95.
 111.  81.  78. 108.  72. 106. 126.  54. 113.  92. 117.  83.  99.  65.
  98. 150.  89.  93.  97. 105. 100. 155. 104. 115. 109. 148. 164. 170.
 116.  68. 114. 334. 102.  70.  67. 182. 107. 181. 146. 234. 326. 125.
 190.  66. 128. 175. 258.  88. 145. 237. 138. 156. 287. 172. 124.  84.
 246. 123. 162. 169. 141. 307. 191. 506. 248. 159. 140. 136. 274. 127.
 243. 137. 167. 110. 213. 247. 121. 151. 131. 147. 119. 249.  90. 176.
 212. 130. 134. 289. 214. 222. 215. 202. 135. 251. 206. 257. 152. 160.
 216. 227. 283. 144. 217. 149.]

 ****************

Unique values in column 'other_fatalities':
 [  0.   5.   1.  nan   2.   3.  11.  10.  13.   7.   6.  23.   8.   4.
  19.  58.  15.  16.   9.  33.  38.  49. 107.  44.  71.  24.  27. 110.
  20.  12. 180.  22.  14.  54.  36.  45.  43. 297.  18.  30.  78.  28.
  37.  25.  17.  35.]

 ****************

Unique values in column 'total_fatalities':
 [  2   5   1   0   7   4   3  14   6  17   8   9  16  12  15  10  11  45
  13  19  20  18  25  29  30  22  26  27  21  36  35  34  24  23  32  40
  31  28  61  51  37  44  41  59  39  43  53  50  42  52  33  48  55  38
  80  46  58  56  87 129  47  66  74  70  62  67  79  65  99  64  60  68
  54  63  90  73  78  72  83  77  95 111 107 130 113  84  94  81  86  97
 101 118  85  49  57 121  69 117 133 124  98  82 126  88 102 123 155 100
  96  92 112 109  75 162  91 104 115 122 156 174 176 108 106 346 191 188
  76 154 248 335 131 213 142 183 192 273 257 128 146 166 301  89 110 180
 137 132 153 119 269 181 178 148 329 200 135 520 256 167 103 159 143 290
 270 144 171 170 223 261 141 157 116 125 264 160  71 298 189 230 312 228
 234 203 229 217 169 145 114 265 225 275 105 149 199 152 168 158 127 239
 150 139 224]

 ****************

Unique values in column 'circumstances':
 ['The single engine airplane departed Dayton-McCook Field for a local test flight. Shortly after takeoff, the aircraft stalled and crashed, killing both occupants. Crew: Maj Oscar Brindley, Lt Col Henry Damm.'
 'Assembled at Cricklewood Airfield in May 1918, the aircraft departed Cricklewood for its 13th test flight, carrying six crew members. Shortly after takeoff, while climbing to a height of about 700-800 feet, all four engines stopped. The pilot elected to return for an emergency landing when the aircraft stalled and crashed in a field located in front of 21 Garrick Avenue in Golders Green, bursting into flames. Colonel Ogilvie, who was seating in the tail gunner position at the back of the plane, survived, while all five other occupants were killed. Crew: Cpt Vernon Earl George Busby, pilot, ‚Ä† Mr. Bertram G. Cooper, ‚Ä† Mr. R. P. Cooper, ‚Ä† Mr. W. H. Hathaway, ‚Ä† Mr. J. W. Windebank, ‚Ä† Colonel Ogilvie.'
 'The single engine aircraft was completing a local training flight when it stalled and crashed near Abukir. A crew member was killed and the second was injured. Crew: 2nd Lt G. E. Satterthwaite, ‚Ä† 2nd Lt J. Acheson.'
 ...
 'The single engine airplane departed Yakutat on an on-demand flight to Dry Bay, a remote airstrip located about 30 miles southeast of the Southeast Alaska community of Yakutat. On final approach, the aircraft crashed in a wooded area located short of runway. All four occupants were injured, three critically.'
 'The twin engine airplane departed Pokhara City Airport Runway 04 at 0955LT on a schedule service to Jomsom, carrying 19 passengers and three crew members. After takeoff, the pilot initiated a turn to the left and continued to climb to 12,000 feet (calibrated altitude) when a turn was initiated to the right. In limited visibility, the aircraft impacted the slope of a rocky mountain located in the area of Shikha, some 14 km southwest from the Annapurna Mountain. The wreckage was found the following day. The aircraft disintegrated on impact and all 22 occupants were killed.'
 'The single engine was completing local skydiving flights out from Oceanside Airport. On final approach to runway 25, the airplane apparently stalled and crashed against an embankment located about 400 metres short of runway. The pilot was seriously injured and the jumpmaster was killed.']

 ****************

Unique values in column 'crash_cause':
 ['Technical failure' 'Unknown' 'Weather' 'Human factor' 'Other causes'
 'Terrorism act, Hijacking, Sabotage']

 ****************

Unique values in column 'year':
 [1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931
 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945
 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022]

 ****************

Unique values in column 'month':
 [ 5  6  7  8  9 10 11 12  1  2  3  4]

 ****************

Unique values in column 'day':
 [ 2  8 11 19 24 14 18 23 26 13  6 27  9 12 20 16 21 22 31 10  7 15  1  3
  4 17 25 29  5 28 30]

 ****************

In [25]:
# View NAN values in all columns
def all_columns_nan_values(df):
    for col in df.columns:
        print(f"All nan values in column \'{col}\': \n {df[col].isna().sum()}\n\n **************** \n")

all_columns_nan_values(avioset_aab_low)

All nan values in column 'date':
 0

 ****************

All nan values in column 'time':
 14587

 ****************

All nan values in column 'aircraft':
 1

 ****************

All nan values in column 'operator':
 0

 ****************

All nan values in column 'registration':
 815

 ****************

All nan values in column 'flight_phase':
 638

 ****************

All nan values in column 'flight_type':
 57

 ****************

All nan values in column 'survivors':
 1297

 ****************

All nan values in column 'crash_site':
 383

 ****************

All nan values in column 'schedule':
 8946

 ****************

All nan values in column 'msn':
 4182

 ****************

All nan values in column 'yom':
 5311

 ****************

All nan values in column 'flight_no':
 28536

 ****************

All nan values in column 'crash_location':
 12

 ****************

All nan values in column 'country':
 1

 ****************

All nan values in column 'region':
 1

 ****************

All nan values in column 'crew_on_board':
 24

 ****************

All nan values in column 'crew_fatalities':
 1

 ****************

All nan values in column 'pax_on_board':
 54

 ****************

All nan values in column 'pax_fatalities':
 1

 ****************

All nan values in column 'other_fatalities':
 10

 ****************

All nan values in column 'total_fatalities':
 0

 ****************

All nan values in column 'circumstances':
 25

 ****************

All nan values in column 'crash_cause':
 0

 ****************

All nan values in column 'year':
 0

 ****************

All nan values in column 'month':
 0

 ****************

All nan values in column 'day':
 0

 ****************

We would like to change data type to int for columns crew_on_board, crew_fatalities, pax_on_board, pax_fatalities, other_fatalities, total_fatalities. 
That's why let's first analyze min and max values.

In [26]:
avioset = avioset.fillna(
    {'crew_on_board':0,
     'crew_fatalities':0,
     'pax_on_board':0,
     'pax_fatalities':0,
     'other_fatalities':0,
     'total_fatalities':0
    })

NameError: name 'avioset' is not defined

# TODO why we decided do choose these columns

#### 2.3.4. Our new dataset <a id="2-3-4">
We will continue the analysis with the most useful data columns
'date', 'aircraft', 'operator', 'flight_phase', 'flight_type', 'survivors', 'crash_site', 'crash_location', 'country', 'region', 'crew_on_board', 'crew_fatalities', 'pax_on_board', 'pax_fatalities', 'other_fatalities','total_fatalities', 'crash_cause'

In [ ]:
# TODO Charts

In [ ]:
avioset = avioset_aab_low[['date', 'aircraft', 'operator', 'flight_phase', 'flight_type', 'survivors', 'crash_site', 'crash_location', 'country', 'region', 'crew_on_board', 'crew_fatalities', 'pax_on_board', 'pax_fatalities', 'other_fatalities','total_fatalities', 'crash_cause']]

print(avioset.shape)
avioset.head()

In [ ]:
avioset.columns

In [ ]:
def max_counts(array_of_columns):   
    for col in array_of_columns:
        print(f"Max value for {col}, {avioset[col].max()}")
        
columns_count_fatalities = ["crew_on_board", "crew_fatalities", "pax_on_board", "pax_fatalities", "other_fatalities", "total_fatalities"]        
max_counts(columns_count_fatalities)

In [ ]:
plt.scatter(avioset['crew_on_board'], avioset['total_fatalities'])
plt.title('Relationship between crew on board and total fatalities')
plt.xlabel('Crew on board')
plt.ylabel('Total fatalities')
plt.show()

#### There is an outlier. Let's see which is this row with outlier

In [ ]:
avioset[avioset.crew_on_board == 1924]

It sounds unreal to have 1924 crew on board.
That's why we'll delete it.

In [ ]:
avioset = avioset[avioset['crew_on_board'] < 1924]

In [ ]:
max_counts(columns_count_fatalities)

In [ ]:
# View NAN values in all columns
all_columns_nan_values(avioset)

In [ ]:
# Nan in survivors we'll fill with "unknown"
avioset = avioset.fillna({'survivors':"unknown"})

In [ ]:
# View NAN values in all columns
all_columns_nan_values(avioset)

#### Flight phases
Picture is from https://docs.flybywiresim.com/pilots-corner/advanced-guides/flight-phases/
![Flight phases](data/images/flight-phases.png)

In [ ]:
avioset.groupby('flight_phase').size().plot()
plt.xticks(rotation = "vertical")
plt.title("Most dangerous flight phases")
plt.show()

In [ ]:
print(avioset.groupby('flight_phase').size().sort_values(ascending=False))

### Conclusion: Most dangerous flight phases are Flight, Landing and Takeoff. They need most concentration.

### Now let's see the 5 operators with the most accidents

In [ ]:
operators_max = avioset.groupby('operator').size().sort_values(ascending=False)
print(operators_max.shape)
operators_max.head()

### Now let's see the 5 operators with the least accidents

In [ ]:
operators_min = avioset.groupby('operator').size().sort_values(ascending=True)
print(operators_min.shape)
operators_min.head()

### Let's investigate the most common cause for accident.
Interestingly, the human factor is the most common cause of accidents

In [ ]:
avioset.groupby('crash_cause').size().plot()
plt.xticks(rotation = "vertical")
plt.title("Accidents by crash cause")
plt.show()

### Let's investigate which countries have most accidents.

In [ ]:
country_max = avioset.groupby('country').size().sort_values(ascending=False)
print(country_max.shape)
country_max.head()

In [ ]:
# Create a vertical bar chart with customizations
ax = country_max[:20].plot.barh(width=0.8, color=['red', 'orange'])

# Customize the plot
ax.set_xlabel('Number of accidents')
ax.set_ylabel('Countries')
ax.set_title('Twenty countries with most accidents')
ax.legend(['Number of accidents', 'country_max[:10]'])

# Show the plot
plt.show()

In [ ]:
# Create a vertical bar chart with customizations
ax = country_max[:10].plot.bar(width=0.8, color=['red', 'orange'])

# Customize the plot
ax.set_xlabel('Number of accidents')
ax.set_ylabel('Countries')
ax.set_title('Ten countries with most accidents')
ax.legend(['Number of accidents', 'country_max[:10]'])

# Show the plot
plt.show()

### Our file became too heavy. That's why we'll save it and we'll continue in part 2.

In [ ]:
avioset.to_csv('data/dataset_1_accident_bureau/aviodata.csv', index=False)

In [ ]:
# test
test = pd.read_csv('data/dataset_1_accident_bureau/aviodata.csv')

In [ ]:
test.head()

<div style="background-color: #9df9ef; padding: 10px;"></div>